#logout{
    margin-left: 85%;
}
.blocks_container{
    margin: 1rem auto auto 6rem;
}
img{
    width: 17rem;
    height: 13rem;
    border-radius: 1rem;
}
.blocks{
    display: inline-block;
    margin: 1rem;
    width: 17rem;
    margin-top: 12px;
    border: 9px solid rgb(248, 248, 136);
    background-color: rgb(248, 248, 136);
    box-shadow: 7px 3.5px 2px 2px ;
    border-radius: 0px 1.5rem 0px 1.5rem;
}
button{
    margin-left: 11.5rem;
    border-radius: 0 1rem 0 1rem;
    background-color: rgb(104, 205, 245);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    height: 1.5rem;
    width: 5rem;
}
button:hover{
    box-shadow: 0 0 4px 2px rgb(54, 48, 48);
}