.Login_form{
    width: 20rem;
    margin: 5% 40% ;
}
h2{
    
    display: flex;
    justify-content: center;
}
p{
    margin-left: 1rem;
    justify-content: left;
}
input{
    margin-left: 1rem;
    width: 14rem;
}